package layouts

import "gorgon/assets/templates/components/nav"

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ title }</title>
			<link href="css/style.css" rel="stylesheet"/>
			<link href="css/components.css" rel="stylesheet"/>
			<link href="css/pages.css" rel="stylesheet"/>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js"></script>
			<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
		</head>
		<body>
			<div class="container">
				@nav.Nav()
				<div class="content">
					{ children... }
				</div>
			</div>
		</body>
	</html>
}
