package components

import "gorgon/internal/db/model"

templ ShowGridShowsList(shows []model.Show) {
	for _, show := range shows {
		<div class="show-grid-item">
			<div class="show-poster">
				if (show.Image.Medium != "") {
					<img src={ show.Image.Medium } alt={ show.Name }/>
				}
				<div class="show-overlay">
					//<div class="show-actions">
					//	<button class="action-button" title="Mark as watched">✓</button>
					//	<button class="action-button" title="Show details">ⓘ</button>
					//	<button class="action-button" title="Remove">✕</button>
					//</div>
				</div>
			</div>
			<div class="show-grid-info">
				<h3 class="show-grid-title">{ show.Name }</h3>
				//<!-- {{/* -->
				//<!-- <div class="show-grid-year">{{.Year}}</div> -->
				//<!-- <div class="show-grid-status"> -->
				//<!--   {{if .Status}}{{.Status}}{{else}}Not started{{end}} -->
				//<!-- </div> -->
				//<!-- */}} -->
			</div>
		</div>
	}
}
