package components

import "gorgon/pkg/schemas/dtos"

templ ShowCardAddShow(show dtos.ShowDto) {
	<div class="show-result">
		<div class="show-image">
			if (show.Image.Medium != "") {
				<img src={ show.Image.Medium } alt={ show.Name }/>
			}
		</div>
		<div class="show-info">
			<h3 class="show-title">{ show.Name }</h3>
			//<div class="show-year">{{.Year}}</div>
			<p class="show-description">{ show.Summary }</p>
		</div>
		//hx-vals='{"id": "{show.ShowID}"}'>
		<button
			class="add-button"
			hx-post="/api/v1/database/show/"
			hx-swap="outerHTML"
		>Add</button>
	</div>
}
