<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
</head>
<body>
  <rapi-doc
    spec-url="/swagger.json" 
    theme="dark"
    render-style="focused"
    show-method-in-nav-bar="as-colored-text"
    allow-server-selection="false"
    schema-style="tree"
    nav-item-spacing="relaxed"
    show-info="false"
    show-header="false"
    bg-color="#121212"
    text-color="#e0e0e0"
    primary-color="#00bcd4"
  > </rapi-doc>
</body>
</html>
