package pages

import "gorgon/assets/templates/layouts"
import "gorgon/external/tvmaze/schema"
import "gorgon/assets/templates/components/search"

templ AddShow(title string, shows []schema.TvMazeResponse) {
	@layouts.Base(title) {
		<div class="add-show-container">
			<h1>Add Show</h1>
			@search.SearchForm("/add-show", "#search-results", ".spinner", "", "Enter show name...", true)
			@search.SearchResults(shows, make(map[int]bool))
		</div>
	}
}
